$("#<%= @post_.id %> ul").html(
    "<%= escape_javascript(render( partial: 'shared/comment', collection: @post_.comments)) %>\
    <li>\
    <%= escape_javascript(render partial: 'shared/comment_form', locals: {post: @post_}) %>\
    </li>");