<% provide(:title, "Friend index") %>

<div class="row">

<% if @pending_invited_by.any? %>
  <aside class="span4" id="invited_aside">
      <section>
        <h2>Pending requests</h2>
      </section>
      <section>
        <ul class="invited_by" id="pending_invited">
          <%= render partial: 'pending_invited_by', collection: @pending_invited_by, as: :friend %>
        </ul>
      </section>
  </aside>
<% end %>
  
  <div class="span8">
    <h1>
      Friends
    </h1>
    <div>
      <% if @friends.any? %>
        <%= will_paginate @pag_friends %>
        <ul class="users">
          <%= render partial: 'pag_friends', collection: @pag_friends, as: :friend %>
        </ul>
        <%= will_paginate @pag_friends%>
      <% else %>
        <p>No friends yet</p>
      <% end %>
    </div>
  </div>
</div>